body {
    font-family: "Roboto", "Source Sans Pro", "Lucida Grande", Calibri, Helvetica, sans-serif;
}
h1 {
    font-size: 2.4em;
    margin-bottom: 4px;
}
li {
    margin-bottom: .2em;
}

.emoji {
    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
}